<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>gestion de cargo</title>
        <h:outputStylesheet name="/vendor/bootstrap/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/scrolling-nav.css"/>
        <h:outputStylesheet name="/css/jquery-confirm.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css" />





    </h:head>
    <h:body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Inmuebles SENA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_area.xhtml">Areas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_cargo.xhtml">Cargo</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_ciudad.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_empleado.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_estado.xhtml">Estado</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_inquilino.xhtml">Inquilino</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_propietario_inmueble.xhtml">Propietario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br></br><br></br><br></br>
        <br></br><br></br><br></br>



        <div class="container">
            <h:form id="myContent">
                <center>
                    <h4><h:outputText value="gestion de cargos"/></h4><br></br><br></br><br></br>
                </center>
                <h:dataTable id="myDataTable"   cellspacing="0" width="100%" value="#{cargo_Bean.listar}" var="u" class=" table-condensed table-striped" >
                    <h:column>
                        <f:facet  name="header">documento</f:facet>
                        <h:outputText value="#{u.idCargo}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">nombres</f:facet>
                        <h:outputText value="#{u.nombre}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Editar</f:facet>


                        <button type="button" id="update" class="btn btn-outline-info" onclick="javascript:editar('#{u.nombre}', '#{u.idCargo}');"  data-toggle="modal" data-target="#myModalupdate"><i class="fa fa-eyedropper" aria-hidden="true"></i> Modificar

                        </button>


                    </h:column>
                    <h:column>
                        <button type="button" id="delete" class="btn btn-outline-danger" onclick="javascript:eliminar('#{u.nombre}', '#{u.idCargo}');"  data-toggle="modal" data-target="#myModaldelete"><i class="fa fa-eyedropper" aria-hidden="true"></i> Eliminar

                        </button>
                    </h:column>



                </h:dataTable>

            </h:form>

            <br></br>
            <br></br>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i> Nueva area</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">registro de area</h5>
                        </div>
                        <div class="modal-body">
                            <h:form id="form" class="form-horizontal">

                                <hr/>
                                <div class="form-group">
                                    <h:outputLabel for="username" class="control-label col-sm-4">Codigo de ciudad</h:outputLabel>

                                    <h:inputText id="codigo" value="#{cargo_Bean.cargo.idCargo}" a:placeholder="ingrese codigo" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel  class="control-label col-sm-4">Nombre</h:outputLabel>

                                    <h:inputText id="nombre" value="#{cargo_Bean.cargo.nombre}" required="true" a:placeholder="ingrese nombre" class="form-control" >

                                    </h:inputText>

                                </div>




                                <div class="form-group">


                                    <center><h:commandButton value="guardar" action="#{cargo_Bean.nuevo_cargo()}" class="btn btn-outline-success">

                                        <f:ajax execute="form" render="myDataTable myContent"/>
                                        </h:commandButton></center>




                                </div>


                            </h:form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>










            <!-- Modal -->
            <div class="modal fade" id="myModalupdate" role="dialog">
                <div class="modal-dialog  modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">actualizar area</h5>
                        </div>
                        <div class="modal-body">
                            <h:form id="formupdate" class="form-horizontal">


                                <div class="form-group">
                                    <h:outputLabel for="username" class="control-label ">Codigo de ciudad</h:outputLabel>

                                    <h:inputText  a:placeholder="ingrese codigo" id="elemento_codigo" value="#{cargo_Bean.cargo.idCargo}" required="true" class="form-control" requiredMessage="por favor ingrese un nombre">

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel  class="control-label ">Nombre</h:outputLabel>

                                    <h:inputText  a:placeholder="ingrese nombre" value="#{cargo_Bean.cargo.nombre}" id="elemento_nombre" required="true" requiredMessage="por favor ingrese correo" class="form-control" >

                                    </h:inputText>

                                </div>



                                <div class="form-group">



                                    <center>
                                        <h:commandButton value="guardar cambios" action="#{cargo_Bean.modificar_cargo()}" class="btn btn-outline-success">


                                        </h:commandButton>
                                    </center>






                                </div>
                            </h:form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <br></br>
        <div class="modal fade" id="myModaldelete" role="dialog">
            <div class="modal-dialog  modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">eliminar area</h5>
                    </div>
                    <div class="modal-body">

                        <h:form id="formdelete" class="form-horizontal">

                            <div class="form-group">
                                <center><p>¿Estas seguro de eliminar la area seleccionada?</p></center>

                                <h:inputHidden id="codigo" value="#{cargo_Bean.cargo.idCargo}" required="true" class="form-control" requiredMessage="por favor ingrese un nombre">

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden  id="nombre" value="#{cargo_Bean.cargo.nombre}" required="true" requiredMessage="por favor ingrese correo" class="form-control" >

                                </h:inputHidden>

                            </div>




                            <div class="form-group">
                                <center><h:commandButton value="confirmar" action="#{cargo_Bean.eliminararea()}" class="btn btn-outline-success">

                                        <f:ajax execute="formdelete" render="myDataTable myContent  "  />
                                    </h:commandButton></center>
                            </div>
                            

                        </h:form>   
                    </div></div></div></div>

        <br></br><br></br>

        <h:outputScript  name="/js/jquery-3.2.1.min.js"/>

        <h:outputScript  name="/vendor/popper/popper.min.js"/>
        <h:outputScript  name="/vendor/bootstrap/js/bootstrap.min.js"/>
        <h:outputScript  name="/vendor/jquery-easing/jquery.easing.min.js"/>
        <h:outputScript  name="/js/scrolling-nav.js"/>
        <h:outputScript  name="/js/cargar_area.js"/>
        <h:outputScript  name="/js/cargar_area_delete.js"/>
        <h:outputScript  name="/js/jquery-confirm.min.js"/>

    </h:body>



</html>