<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>gestion de empleados</title>
        <h:outputStylesheet name="/vendor/bootstrap/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/scrolling-nav.css"/>
        <h:outputStylesheet name="/css/jquery-confirm.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css" />





    </h:head>
    <h:body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Inmuebles SENA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_area.xhtml">Areas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_cargo.xhtml">Cargo</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_ciudad.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_empleado.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_estado.xhtml">Estado</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_inquilino.xhtml">Inquilino</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_propietario_inmueble.xhtml">Propietario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br></br><br></br><br></br>
        <br></br><br></br><br></br>



        <div class="container">
            <h:form id="myContent">
                <center>
                    <h4><h:outputText value="gestion de empleados"/></h4><br></br><br></br><br></br>
                </center>
                <h:dataTable id="myDataTable"   cellspacing="0" width="100%" value="#{empleado_Bean.listar}" var="u" class=" table-condensed  table-striped" >
                    <h:column>
                        <f:facet  name="header">documento</f:facet>
                        <h:outputText value="#{u.idEmpleado}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">nombres</f:facet>
                        <h:outputText value="#{u.nombres}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">apellidos</f:facet>
                        <h:outputText value="#{u.apellidos}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">correo</f:facet>
                        <h:outputText value="#{u.correo}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">telefono</f:facet>
                        <h:outputText value="#{u.telefono}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">celular</f:facet>
                        <h:outputText value="#{u.celular}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">direccion</f:facet>
                        <h:outputText value="#{u.direccion}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">edad</f:facet>
                        <h:outputText value="#{u.edad}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">area</f:facet>
                        <h:outputText value="#{u.areaTrabajo.nombre}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">cargo</f:facet>
                        <h:outputText value="#{u.cargo.nombre}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">estado</f:facet>
                        <h:outputText value="#{u.estado.nombre}"/>
                    </h:column>
                    <h:column>
                        <button type="button" id="delete" class="btn btn-outline-danger" onclick="javascript:eliminar('#{u.idEmpleado}', '#{u.nombres}', '#{u.apellidos}', '#{u.correo}', '#{u.telefono}', '#{u.celular}', '#{u.direccion}', '#{u.edad}', '#{u.areaTrabajo.idAreaT}', '#{u.cargo.idCargo}', '#{u.estado.idEstado}');"  data-toggle="modal" data-target="#myModaldelete"><i class="fa fa-eyedropper" aria-hidden="true"></i> Eliminar
                        </button>
                    </h:column>
                    <h:column>
                        <button type="button" id="editar" class="btn btn-outline-info" onclick="javascript:editarjson('#{u.idEmpleado}', '#{u.nombres}', '#{u.apellidos}', '#{u.correo}', '#{u.telefono}', '#{u.celular}', '#{u.direccion}', '#{u.edad}', '#{u.areaTrabajo.idAreaT}', '#{u.cargo.idCargo}', '#{u.estado.idEstado}');"  data-toggle="modal" data-target="#myModalupdate"><i class="fa fa-eyedropper" aria-hidden="true"></i> Editar
                        </button>
                    </h:column>





                </h:dataTable>

            </h:form>

            <br></br>
            <br></br>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i> Nueva area</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">registro de area</h5>
                        </div>
                        <div class="modal-body">
                            <h:form id="form" class="form-horizontal">

                            
                                <div class="form-group">
                                    <h:outputLabel for="documento" class="control-label col-sm-4">documento</h:outputLabel>

                                    <h:inputText id="documento" value="#{empleado_Bean.empleado.idEmpleado}" a:placeholder="ingrese documento" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="nombres" class="control-label col-sm-4">nombres</h:outputLabel>

                                    <h:inputText id="nombres" value="#{empleado_Bean.empleado.nombres}" a:placeholder="ingrese nombres" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="apellidos" class="control-label col-sm-4">apellidos</h:outputLabel>

                                    <h:inputText id="apellidos" value="#{empleado_Bean.empleado.apellidos}" a:placeholder="ingrese apellidos" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="correo" class="control-label col-sm-4">correo</h:outputLabel>

                                    <h:inputText id="correo" value="#{empleado_Bean.empleado.correo}" a:placeholder="ingrese correo" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="telefono" class="control-label col-sm-4">telefono</h:outputLabel>

                                    <h:inputText id="telefono" value="#{empleado_Bean.empleado.telefono}" a:placeholder="ingrese telefono" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="celular" class="control-label col-sm-4">celular</h:outputLabel>

                                    <h:inputText id="celular" value="#{empleado_Bean.empleado.celular}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="direccion" class="control-label col-sm-4">direccion</h:outputLabel>

                                    <h:inputText id="direccion" value="#{empleado_Bean.empleado.direccion}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="edad" class="control-label col-sm-4">edad</h:outputLabel>

                                    <h:inputText id="edad" value="#{empleado_Bean.empleado.edad}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="area" class="control-label col-sm-4">area</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="area"  value="#{empleado_Bean.empleado.areaTrabajo.idAreaT}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{area_Bean.getlistarareas()}"/>
                                    </h:selectOneMenu>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="cargo" class="control-label col-sm-4">cargo</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="cargo"  value="#{empleado_Bean.empleado.cargo.idCargo}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{cargo_Bean.getlistarcargos()}"/>
                                    </h:selectOneMenu>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="estado" class="control-label col-sm-4">estado</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="estado"  value="#{empleado_Bean.empleado.estado.idEstado}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{estado_Bean.getlistarestados()}"/>
                                    </h:selectOneMenu>

                                </div>




                                <div class="form-group">


                                    <center>
                                        <p:commandButton value="guardar" action="#{empleado_Bean.nuevoempleado()}" class="btn btn-outline-success">
                                            <f:ajax execute="form" render="myDataTable myContent"/>

                                        </p:commandButton>
                                    </center>




                                </div>


                            </h:form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>










            <div class="modal fade" id="myModalupdate" role="dialog">
                <div class="modal-dialog  modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">actualizar area</h5>
                        </div>
                        <div class="modal-body">
                             <h:form id="formupdate" class="form-horizontal">

                            
                                <div class="form-group">
                                    <h:outputLabel for="documento" class="control-label col-sm-4">documento</h:outputLabel>

                                    <h:inputText id="documento" value="#{empleado_Bean.empleado.idEmpleado}" a:placeholder="ingrese documento" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="nombres" class="control-label col-sm-4">nombres</h:outputLabel>

                                    <h:inputText id="nombres" value="#{empleado_Bean.empleado.nombres}" a:placeholder="ingrese nombres" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="apellidos" class="control-label col-sm-4">apellidos</h:outputLabel>

                                    <h:inputText id="apellidos" value="#{empleado_Bean.empleado.apellidos}" a:placeholder="ingrese apellidos" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="correo" class="control-label col-sm-4">correo</h:outputLabel>

                                    <h:inputText id="correo" value="#{empleado_Bean.empleado.correo}" a:placeholder="ingrese correo" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="telefono" class="control-label col-sm-4">telefono</h:outputLabel>

                                    <h:inputText id="telefono" value="#{empleado_Bean.empleado.telefono}" a:placeholder="ingrese telefono" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="celular" class="control-label col-sm-4">celular</h:outputLabel>

                                    <h:inputText id="celular" value="#{empleado_Bean.empleado.celular}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="direccion" class="control-label col-sm-4">direccion</h:outputLabel>

                                    <h:inputText id="direccion" value="#{empleado_Bean.empleado.direccion}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="edad" class="control-label col-sm-4">edad</h:outputLabel>

                                    <h:inputText id="edad" value="#{empleado_Bean.empleado.edad}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                    </h:inputText>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="area" class="control-label col-sm-4">area</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="area"  value="#{empleado_Bean.empleado.areaTrabajo.idAreaT}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{area_Bean.getlistarareas()}"/>
                                    </h:selectOneMenu>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="cargo" class="control-label col-sm-4">cargo</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="cargo"  value="#{empleado_Bean.empleado.cargo.idCargo}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{cargo_Bean.getlistarcargos()}"/>
                                    </h:selectOneMenu>

                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="estado" class="control-label col-sm-4">estado</h:outputLabel>


                                    <h:selectOneMenu class="form-control" id="estado"  value="#{empleado_Bean.empleado.estado.idEstado}">
                                        <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                                        <f:selectItems value="#{estado_Bean.getlistarestados()}"/>
                                    </h:selectOneMenu>

                                </div>




                                <div class="form-group">


                                    <center>
                                        <h:commandButton value="guardar" action="#{empleado_Bean.modificarempleado()}" class="btn btn-outline-success">
                                            <f:ajax execute="formupdate" render="myDataTable myContent"/>

                                        </h:commandButton>
                                    </center>




                                </div>


                            </h:form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <br></br>
        <div class="modal fade" id="myModaldelete" role="dialog">
            <div class="modal-dialog  modal-lg">


                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">eliminar area</h5>
                    </div>
                    <div class="modal-body">

                        <h:form id="formdelete" class="form-horizontal">

                            <center><p>¿Estas seguro de eliminar la area seleccionada?</p></center>
                            <div class="form-group">


                                <h:inputHidden id="documento" value="#{empleado_Bean.empleado.idEmpleado}" a:placeholder="ingrese documento" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="nombres" value="#{empleado_Bean.empleado.nombres}" a:placeholder="ingrese nombres" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="apellidos" value="#{empleado_Bean.empleado.apellidos}" a:placeholder="ingrese apellidos" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="correo" value="#{empleado_Bean.empleado.correo}" a:placeholder="ingrese correo" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden  id="telefono" value="#{empleado_Bean.empleado.telefono}" a:placeholder="ingrese telefono" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="celular" value="#{empleado_Bean.empleado.celular}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="direccion" value="#{empleado_Bean.empleado.direccion}" a:placeholder="ingrese celular" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="edad" value="#{empleado_Bean.empleado.edad}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">


                                <h:inputHidden id="area" value="#{empleado_Bean.empleado.areaTrabajo.idAreaT}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>

                            <div class="form-group">


                                <h:inputHidden id="cargo" value="#{empleado_Bean.empleado.cargo.idCargo}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                </h:inputHidden>

                            </div>
                            <div class="form-group">
                                <h:inputHidden id="estado" value="#{empleado_Bean.empleado.estado.idEstado}" a:placeholder="ingrese edad" required="true" class="form-control" >

                                </h:inputHidden>


                            </div>




                            <div class="form-group">


                                <center><h:commandButton value="confirmar" action="#{empleado_Bean.eliminarempleado()}" class="btn btn-outline-success">
                                        <f:ajax execute="formdelete" render="myDataTable myContent"/>

                                    </h:commandButton>
                                </center>




                            </div>


                        </h:form> 
                    </div></div></div></div>

        <br></br><br></br>

        <h:outputScript  name="/js/jquery-3.2.1.min.js"/>

        <h:outputScript  name="/vendor/popper/popper.min.js"/>
        <h:outputScript  name="/vendor/bootstrap/js/bootstrap.min.js"/>
        <h:outputScript  name="/vendor/jquery-easing/jquery.easing.min.js"/>
        <h:outputScript  name="/js/scrolling-nav.js"/>
        <h:outputScript  name="/js/cargar_empleado.js"/>
        <h:outputScript  name="/js/cargar_empleado_delete.js"/>
        <h:outputScript  name="/js/jquery-confirm.min.js"/>

    </h:body>



</html>