<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="/vendor/bootstrap/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/scrolling-nav.css"/>
        
    </h:head>
    <h:body>


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Inmuebles SENA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_area.xhtml">Areas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_cargo.xhtml">Cargo</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_ciudad.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_empleado.xhtml">Ciudad</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_estado.xhtml">Estado</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_inquilino.xhtml">Inquilino</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link js-scroll-trigger" href="http://localhost:8080/sysInmuebles/faces/consulta_propietario_inmueble.xhtml">Propietario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>Bienvenido sistema inmueble</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit. Nunc nec efficitur augue</p>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>About this page</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec efficitur augue, id egestas est. Vestibulum vitae justo nec justo semper rhoncus eget vel tortor. Vivamus vel metus leo. Suspendisse rutrum sem eu</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc </li>
                            <li>nec efficitur augue, id egestas est. Vestibulum vitae justo nec justo s</li>
                            <li>fficitur augue, id egestas est. Vestibulum vitae justo nec justo semper rhon</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
        </footer>




        <h:outputScript  name="/js/jquery-3.2.1.min.js"/>
        <h:outputScript  name="/vendor/bootstrap/js/bootstrap.min.js"/>
        <h:outputScript  name="/vendor/popper/popper.min.js"/>
        <h:outputScript  name="/vendor/jquery-easing/jquery.easing.min.js"/>
        <h:outputScript  name="/js/scrolling-nav.js"/>

    </h:body>
</html>

